.container-fluid
{
    max-width: 95%;
}

@media (max-width: 991px)
{
    #topnav .navigation-menu
    {
        background: #2b343b;
    }
}

@media (min-width: 992px)
{
    .navigation-menu>li.last-elements .submenu {
        right: 0px;
        left: 70%;
    }
}
@media (min-width: 992px)
{
    .navigation-menu>li.has-submenu.last-elements>.submenu:before {
        right: auto;
        left: 6px;
    }
}

.user-photo {
    border-radius: 8px;
}
.page-item.active .page-link {
    background-color: #3cade1 !important;
    border-color: #3cade1 !important;
}
.flatpickr-day.endRange, .flatpickr-day.endRange.inRange, .flatpickr-day.endRange.nextMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.endRange:focus, .flatpickr-day.endRange:hover, .flatpickr-day.selected, .flatpickr-day.selected.inRange, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange, .flatpickr-day.startRange.inRange, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.startRange:focus, .flatpickr-day.startRange:hover
{
    background-color: #3cade1 !important;
    border-color: #3cade1 !important;
}
.select2-container--default .select2-results__option[aria-selected=true]:hover
{
    background-color: #3cade1 !important;
    border-color: #3cade1 !important;
}
.select2-container .select2-selection--multiple .select2-selection__choice
{
    background-color: #3cade1 !important;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    cursor:pointer !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #7b797b;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #727272;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a1a1a1;
    border-radius: 10px;
}
