.left-side-menu
{
    background-color: #263544;
}
.nav-second-level>li>a
{
    color: #b7c0cd;
}
#sidebar-menu>ul>li>a.active, .nav-second-level li.active>a {
    color: #b7c0cd;
}

.navbar-custom , .nav-backcolor{
    background-color: #4a81d4 !important;
}
.close-jq-toast-single {

    top: -10px !important;
    right: -10px !important;

}
.nav-second-level li a:focus,
.nav-second-level li a:hover,
.nav-thrid-level li a:focus,
.nav-thrid-level li a:hover {
    color : white;
}

#sidebar-menu>ul>li>a:active,
#sidebar-menu>ul>li>a:focus,
#sidebar-menu>ul>li>a:hover {
    color: white;
    text-decoration: none;
}
#sidebar-menu>ul>li>a {
    color: #c9cacc;
    display: block;
    padding: 13px 20px;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-size: .975rem;
}